{
  "plugins": [
    "@babel/plugin-syntax-typescript",
    [
      "module-resolver",
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "root": ["./src"],
        "alias": {
          "root": "src",
          "src": "src"
        }
      }
    ]
  ],
  "presets": ["@babel/preset-typescript"]
}
